{% extends 'base.html' %}

{% load static %}

{% block title %}Document List{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Document List</h2>
    <div class="mb-3">
        <a href="{% url 'farlabAPI:api_delete_all_documents' %}" class="btn btn-danger">Delete All Documents</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Uploaded At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.file_name }}</td>
                    <td>{{ document.uploaded_at }}</td>
                    <td>
                        <a href="{% url 'farlabAPI:api_delete_document' document.id %}" class="btn btn-danger btn-sm">Delete</a>
                        <a href="{% url 'farlabAPI:api_download_document' document.id %}" class="btn btn-primary btn-sm">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}