<!-- templates/rag/home.html -->

{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center">Welcome to FARLAB CHATBOT</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'farlabAPI:api_upload_document' %}">Upload Document</a></li>
    <li class="list-group-item"><a href="{% url 'farlabAPI:api_document_list' %}">Document List</a></li>
</ul>
{% endblock %}