<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FARLAB{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<header class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mx-auto text-center" href="#">Welcome to FARLAB CHATBOT</a>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'farlabAPI:api_upload_document' %}">Upload Document</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'farlabAPI:api_document_list' %}">Document List</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'farlabAPI:api_generate_embeddings' %}">Generate Embeddings</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'farlabAPI:api_list_embeddings' %}">Embeddings</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>